@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap");
:root {
  --color-primary-50: rgb(235, 254, 245);
  --color-primary-100: rgb(206, 253, 228);
  --color-primary-200: rgb(161, 249, 206);
  --color-primary-300: rgb(101, 240, 183);
  --color-primary-400: rgb(40, 223, 153);
  --color-primary-500: rgb(3, 198, 130);
  --color-primary-600: rgb(0, 161, 106);
  --color-primary-700: rgb(0, 129, 89);
  --color-primary-800: rgb(0, 102, 71);
  --color-primary-900: rgb(1, 83, 61);
  --color-primary-950: rgb(0, 47, 35);
  --color-black: rgb(4, 13, 18);
  --color-white: rgb(249, 249, 249);
  --color-grey-dark-1: rgb(101, 101, 101);
  --color-grey-dark-2: rgb(82, 82, 82);
  --color-grey-dark-3: rgb(41, 41, 41);
  --color-yellow-1: rgb(252, 220, 42);
  --color-yellow-2: rgb(254, 234, 70);
  --color-error-50: rgb(255, 246, 246);
  --color-error-100: rgb(255, 224, 224);
  --color-error-200: rgb(255, 198, 198);
  --color-error-300: rgb(255, 158, 158);
  --color-error-400: rgb(255, 102, 102);
  --color-error-500: rgb(253, 54, 54);
  --color-error-600: rgb(235, 23, 23);
  --color-error-700: rgb(198, 15, 15);
  --color-error-800: rgb(163, 17, 17);
  --color-error-800: rgb(135, 21, 21);
  --color-error-800: rgb(74, 5, 5);
  --color-succss-50: rgb(240, 252, 233);
  --color-succss-100: rgb(223, 248, 207);
  --color-succss-200: rgb(192, 242, 164);
  --color-succss-300: rgb(152, 232, 110);
  --color-succss-400: rgb(130, 221, 85);
  --color-succss-500: rgb(84, 191, 35);
  --font-default: 1.6rem;
  --font-h1: 5rem;
  --font-h2: 3.6rem;
  --font-h3: 2rem;
  --paragraph-default: 1rem;
  --paragraph-p1: 1.8rem;
  --paragraph-p2: 1.4rem;
  --paragraph-p3: 1.2rem;
  --line-height-default: 1.6;
  --line-height-sm: 1.4;
  --line-height-md: 1.7;
  --margin-xsm: 2rem;
  --margin-sm: 3rem;
  --margin-md: 6rem;
  --margin-lg-x1: 8rem;
  --margin-lg-x2: 12rem;
  --margin-lg-x3: 16rem;
  --margin-lg-x4: 20rem;
  --margin-right-xsm: 0.5rem;
  --margin-bottom-xsm: 1rem;
  --padding-horizontal-1: 1.8rem;
  --padding-horizontal-2: 3rem;
  --padding-vertical-1: 0.5rem;
  --padding-vertical-2: 2rem;
  --padding-vertical-3: 4rem;
  --letter-spacing-default: 1;
  --letter-spacing-sm: 1.2;
  --transition-mode-1: 0.2s all;
  --transition-mode-2: 0.3s all;
  --transition-mode-3: 0.4s all;
  --grid-gap-1: 2rem;
  --grid-gap-2: 4rem;
  --grid-gap-3: 6rem;
  --border-radius-x1: 0.5rem;
  --box-shadow-type-1: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --box-shadow-type-2: rgba(0, 0, 0, 0.24) 0px 3px 8px; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-size: var(--font-h3); }

::selection {
  background-color: var(--color-primary-500);
  color: var(--color-primary-50); }

.container {
  display: grid;
  grid-template-rows: auto min-content;
  grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 15.5rem) [col-end]) [center-end] 1fr [full-end];
  position: relative; }

body {
  font-family: "Geologica", sans-serif;
  font-weight: 400;
  line-height: var(--line-height-default);
  color: var(--color-primary-900); }

a {
  text-decoration: none;
  font-size: var(--font-default);
  font-weight: 300;
  text-transform: capitalize;
  color: inherit; }

.heading {
  text-transform: capitalize; }
  .heading--h1 {
    font-size: 4.6rem; }
  .heading--h2 {
    font-size: 3.2rem; }
  .heading--h3 {
    font-size: 2.2rem; }

.paragraph {
  text-transform: none; }
  .paragraph--p1 {
    font-size: 1.8rem; }
  .paragraph--p2 {
    font-size: 1.4rem; }
  .paragraph--p3 {
    font-size: 1.2rem; }

.btn {
  border-radius: 0.3rem;
  backface-visibility: hidden;
  padding: var(--padding-vertical-2) var(--padding-horizontal-2);
  color: var(--color-primary-100);
  box-shadow: var(--box-shadow-type-1); }
  .btn:hover {
    box-shadow: var(--box-shadow-type-2); }
  .btn__outline {
    border: 1px solid var(--color-primary-800);
    transition: var(--transition-mode-2); }
    .btn__outline:hover {
      border: 1px solid var(--color-primary-900);
      transform: scale(1.01); }
  .btn__fill {
    background-color: var(--color-primary-400);
    color: var(--color-primary-50);
    transition: var(--transition-mode-2); }
    .btn__fill:hover {
      background-color: var(--color-primary-500);
      color: var(--color-primary-50); }
  .btn__transparent {
    background-color: transparent;
    color: var(--color-primary-800);
    transition: var(--transition-mode-2); }
    .btn__transparent:hover {
      background-color: var(--color-primary-500);
      color: var(--color-primary-50); }
  .btn__container {
    text-align: center; }
  .btn__text-dark {
    color: var(--color-primary-800);
    font-weight: 600; }
    .btn__text-dark:hover {
      font-size: 1.62rem;
      font-weight: 700; }

.moreContainer {
  grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 15.5rem) [col-end]) [center-end] 1fr [full-end];
  display: none;
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -26%);
  background-color: var(--color-primary-50);
  border-radius: 10px;
  height: min-content;
  width: 120rem;
  z-index: 999; }
  .moreContainer__contentBox {
    grid-column: center-start/center-end;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    padding: 1.5rem 3rem; }
  .moreContainer__box {
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    gap: 2rem;
    justify-content: flex-start; }
  .moreContainer__icon {
    align-self: center; }
    .moreContainer__icon img {
      width: 8rem;
      aspect-ratio: 1/1; }
  .moreContainer__content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start; }
  .moreContainer__btn {
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 500;
    display: inline-block;
    border-bottom: 1px solid transparent;
    transition: var(--transition-mode-1); }
    .moreContainer__btn:hover {
      border-bottom: 1px solid var(--color-primary-800);
      font-weight: 700; }

.pricing {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--grid-gap-3);
  border-radius: var(--border-radius-x1);
  padding: var(--padding-vertical-3) var(--padding-horizontal-2);
  margin: var(--margin-md) 0; }
  .pricing .card {
    border-radius: 5px;
    box-shadow: var(--box-shadow-type-1);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    transition: var(--transition-mode-2);
    position: relative; }
    .pricing .card:hover {
      box-shadow: var(--box-shadow-type-2); }
    .pricing .card__header {
      position: relative; }
    .pricing .card__picture {
      position: relative;
      -webkit-clip-path: polygon(0 0, 100% 0%, 100% 83%, 0% 98%);
      clip-path: polygon(0 0, 100% 0%, 100% 83%, 0% 98%);
      height: 22rem; }
    .pricing .card__picture-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: -webkit-gradient(linear, left top, right bottom, from(#7dd56f), to(#28b487));
      background-image: linear-gradient(to right bottom, #7dd56f, #28b487);
      opacity: 0.7; }
    .pricing .card__picture-img {
      object-fit: cover;
      height: 100%;
      width: 100%; }
    .pricing .card__picture-text {
      position: absolute;
      bottom: 2rem;
      right: 2rem;
      color: var(--color-primary-50);
      width: 65%;
      text-transform: uppercase;
      text-align: right;
      line-height: 1.8; }
    .pricing .card__picture-span {
      background-image: linear-gradient(to right bottom, #7dd56f, #28b487);
      box-decoration-break: clone;
      -webkit-box-decoration-break: clone;
      padding: 1rem 1.5rem; }
    .pricing .card__details {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 1.75rem;
      grid-column-gap: 2rem;
      padding: 2.5rem 3rem; }
    .pricing .card__sub-heading {
      font-size: 1.2rem;
      text-transform: uppercase;
      font-weight: 700;
      grid-column: 1 / -1; }
    .pricing .card__text {
      grid-column: 1 / -1;
      font-size: 1.5rem;
      font-style: italic;
      margin-top: -1rem;
      margin-bottom: 0.75rem; }
    .pricing .card__data {
      font-size: 1.3rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .pricing .card__data svg {
      margin-right: 0.7rem; }
    .pricing .card__icon {
      height: 2rem;
      width: 2rem;
      fill: #55c57a; }
    .pricing .card__footer {
      background-color: var(--color-primary-50);
      padding: 2.5rem 3rem;
      border-top: 1px solid #f1f1f1;
      font-size: 1.4rem;
      display: grid;
      grid-template-columns: auto 1fr;
      grid-column-gap: 1rem;
      grid-row-gap: 1rem;
      margin-top: auto; }
    .pricing .card__footer-value {
      font-weight: 700; }
    .pricing .card__footer-text {
      color: var(--color-primary-900);
      font-weight: 200;
      opacity: 0.7; }
    .pricing .card__ratings {
      grid-row: 2 / 3; }
    .pricing .card__btn {
      grid-row: 1 / 3;
      justify-self: end;
      align-self: center;
      text-decoration: none;
      color: var(--color-primary-500);
      cursor: pointer;
      border: 2px solid var(--color-primary-300);
      border-radius: 3px;
      font-weight: 300;
      padding: 1.2rem 2.6rem;
      transition: var(--transition-mode-1);
      position: relative;
      z-index: 100; }
      .pricing .card__btn:hover {
        color: var(--color-primary-50);
        border: none; }
      .pricing .card__btn:hover::after {
        background-color: var(--color-primary-300);
        width: 100%; }
    .pricing .card__btn::after {
      content: "";
      position: absolute;
      z-index: -1;
      width: 0%;
      height: 100%;
      left: 0;
      top: 0;
      transition: var(--transition-mode-1); }

.header {
  background-color: var(--color-primary-50);
  grid-column: center-start/center-end;
  grid-row: 1/2;
  border-bottom: 2px solid var(--color-primary-800);
  color: var(--color-primary-700);
  padding: var(--padding-vertical-1) var(--padding-horizontal-1);
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-bottom: var(--margin-bottom-xsm); }
  .header__logoContainer {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: start; }
    .header__logoContainer img {
      cursor: pointer;
      width: 20rem;
      height: auto;
      padding: var(--padding-vertical-2) var(--padding-horizontal-1); }
  .header__navContainer {
    width: 100%; }
    .header__navContainer .nav {
      height: 100%;
      display: flex;
      justify-content: flex-end;
      list-style: none;
      align-items: center; }
      .header__navContainer .nav__item {
        padding: var(--padding-vertical-1) var(--padding-horizontal-1);
        transition: var(--transition-mode-2); }
        .header__navContainer .nav__item:not(:last-child) {
          margin-right: var(--margin-right-xsm); }
      .header__navContainer .nav__down__icon {
        width: 2.4rem;
        height: 2.4rem;
        fill: var(--color-primary-900);
        position: relative;
        top: 6px;
        transition: var(--transition-mode-2); }
        .header__navContainer .nav__down__icon:hover {
          fill: var(--color-primary-950); }
      .header__navContainer .nav__link {
        text-decoration: none;
        font-size: var(--font-default);
        font-weight: 300;
        text-transform: capitalize;
        color: inherit;
        transition: var(--transition-mode-2); }
      .header__navContainer .nav__link--normal:hover {
        color: var(--color-primary-900);
        font-weight: 500;
        font-size: 1.62rem; }
      .header__navContainer .nav__link--btn {
        font-weight: 400; }
      .header__navContainer .nav .theme__icon {
        width: 2.8rem;
        height: 2.8rem;
        fill: var(--color-primary-900);
        transition: var(--transition-mode-2); }
      .header__navContainer .nav .theme__icon:hover {
        fill: var(--color-primary-950);
        transform: scale(1.05); }

.main {
  grid-row: 1/3;
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 1fr [full-end];
  grid-template-rows: 95vh repeat(9, min-content);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -10; }

.section__landing {
  grid-column: full-start/full-end; }

.section__packages {
  grid-column: center-start/center-end; }

.landing {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(0, 129, 89, 0.6), rgba(40, 223, 153, 0.8)), url(../../images/locations/colombo.jpg);
  background-size: cover;
  background-position: top;
  align-content: center;
  display: grid;
  grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 1fr [full-end]; }
  .landing__content {
    grid-column: center-start / col-start 6;
    color: var(--color-primary-50);
    line-height: var(--line-height-sm); }
  .landing__heading {
    display: block; }
    .landing__heading-modifier {
      background-color: var(--color-yellow-2);
      padding: 0 var(--padding-vertical-2); }
  .landing__text {
    margin-block: var(--margin-xsm); }
  .landing__btn {
    display: inline-block;
    border: 2px solid var(--color-primary-100); }
    .landing__btn:hover {
      border: 2px solid var(--color-primary-50);
      font-weight: 500; }

.packages {
  margin-top: 12rem;
  text-align: center; }
  .packages__heading {
    display: block; }
  .packages__text {
    white-space: break-word; }
