@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap");
:root {
  --color-primary-50: rgb(235, 254, 245);
  --color-primary-100: rgb(206, 253, 228);
  --color-primary-200: rgb(161, 249, 206);
  --color-primary-300: rgb(101, 240, 183);
  --color-primary-400: rgb(40, 223, 153);
  --color-primary-500: rgb(3, 198, 130);
  --color-primary-600: rgb(0, 161, 106);
  --color-primary-700: rgb(0, 129, 89);
  --color-primary-800: rgb(0, 102, 71);
  --color-primary-900: rgb(1, 83, 61);
  --color-primary-950: rgb(0, 47, 35);
  --color-black: rgb(4, 13, 18);
  --color-white: rgb(249, 249, 249);
  --color-grey-dark-1: rgb(101, 101, 101);
  --color-grey-dark-2: rgb(82, 82, 82);
  --color-grey-dark-3: rgb(41, 41, 41);
  --color-yellow-1: rgb(252, 220, 42);
  --color-yellow-2: rgb(254, 234, 70);
  --color-error-50: rgb(255, 246, 246);
  --color-error-100: rgb(255, 224, 224);
  --color-error-200: rgb(255, 198, 198);
  --color-error-300: rgb(255, 158, 158);
  --color-error-400: rgb(255, 102, 102);
  --color-error-500: rgb(253, 54, 54);
  --color-error-600: rgb(235, 23, 23);
  --color-error-700: rgb(198, 15, 15);
  --color-error-800: rgb(163, 17, 17);
  --color-error-800: rgb(135, 21, 21);
  --color-error-800: rgb(74, 5, 5);
  --color-succss-50: rgb(240, 252, 233);
  --color-succss-100: rgb(223, 248, 207);
  --color-succss-200: rgb(192, 242, 164);
  --color-succss-300: rgb(152, 232, 110);
  --color-succss-400: rgb(130, 221, 85);
  --color-succss-500: rgb(84, 191, 35);
  --font-xsm-1: 1.2rem;
  --font-xsm-2: 1.3rem;
  --font-sm-1: 1.4rem;
  --font-sm-2: 1.5rem;
  --font-default: 1.6rem;
  --font-h1: 5rem;
  --font-h2: 3.6rem;
  --font-h3: 2rem;
  --paragraph-default: 1rem;
  --paragraph-p1: 1.8rem;
  --paragraph-p2: 1.4rem;
  --paragraph-p3: 1.2rem;
  --line-height-default: 1.6;
  --line-height-xsm: 0.8;
  --line-height-sm: 1.4;
  --line-height-md: 1.7;
  --margin-xsm: 2rem;
  --margin-sm: 3rem;
  --margin-md: 6rem;
  --margin-lg-x1: 8rem;
  --margin-lg-x2: 12rem;
  --margin-lg-x3: 16rem;
  --margin-lg-x4: 20rem;
  --margin-right-xsm: 0.5rem;
  --margin-right-sm: 0.7rem;
  --margin-bottom-xsm: 1rem;
  --padding-horizontal-1: 1.8rem;
  --padding-horizontal-2: 3rem;
  --padding-horizontal-3: 6rem;
  --padding-vertical-1: 0.5rem;
  --padding-vertical-2: 2rem;
  --padding-vertical-3: 4rem;
  --padding-vertical-4: 1rem;
  --space-xsm-1: 0.5rem;
  --space-xsm-2: 0.75rem;
  --space-xsm-3: 1rem;
  --space-sm-1: 1.5rem;
  --space-sm-2: 2rem;
  --space-sm-3: 2.5rem;
  --space-md-1: 3rem;
  --space-md-2: 4rem;
  --space-md-3: 5rem;
  --space-lg-1: 6rem;
  --space-lg-2: 8rem;
  --space-lg-3: 10rem;
  --space-xlg-1: 12rem;
  --space-xlg-2: 16rem;
  --space-xlg-3: 20rem;
  --letter-spacing-default: 1;
  --letter-spacing-sm: 1.2;
  --transition-mode-1: 0.2s all;
  --transition-mode-2: 0.3s all;
  --transition-mode-3: 0.4s all;
  --transition-mode-4: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  --grid-gap-0: 1rem;
  --grid-gap-1: 2rem;
  --grid-gap-2: 4rem;
  --grid-gap-3: 6rem;
  --grid-gap-4: 1.75rem;
  --border-radius-x0: 0.3rem;
  --border-radius-x1: 0.5rem;
  --border-radius-x2: 0.8rem;
  --border-radius-x3: 1rem;
  --border-radius-xlg: 10rem;
  --box-shadow-type-1: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --box-shadow-type-2: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --box-shadow-type-3: rgb(38, 57, 77) 0px 20px 30px -10px;
  --box-shadow-type-4: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
  --box-shadow-type-5: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  --box-shadow-type-6: rgba(50, 50, 105, 0.35) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.25) 0px 1px 1px 0px;
  --box-shadow-type-7: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-size: var(--font-h3); }

::selection {
  background-color: var(--color-primary-500);
  color: var(--color-primary-50); }

.container {
  display: grid;
  grid-template-rows: auto min-content;
  grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 15.5rem) [col-end]) [center-end] 1fr [full-end];
  position: relative; }

body {
  font-family: "Geologica", sans-serif;
  font-weight: 400;
  line-height: var(--line-height-default);
  color: var(--color-primary-900); }

a {
  text-decoration: none;
  font-size: var(--font-default);
  font-weight: 300;
  text-transform: capitalize;
  color: inherit; }

.heading {
  text-transform: capitalize; }
  .heading--h1 {
    font-size: 4.6rem; }
  .heading--h2 {
    font-size: 3.2rem; }
  .heading--h3 {
    font-size: 2.2rem; }

.paragraph {
  text-transform: none; }
  .paragraph--p1 {
    font-size: 1.8rem; }
  .paragraph--p2 {
    font-size: 1.4rem; }
  .paragraph--p3 {
    font-size: 1.2rem; }

.btn {
  border-radius: var(--border-radius-x0);
  backface-visibility: hidden;
  padding: var(--space-sm-2) var(--space-md-1);
  color: var(--color-primary-100);
  box-shadow: var(--box-shadow-type-1); }
  .btn:hover {
    box-shadow: var(--box-shadow-type-2); }
  .btn__outline {
    border: 1px solid var(--color-primary-800);
    transition: var(--transition-mode-2); }
    .btn__outline:hover {
      border: 1px solid var(--color-primary-900);
      transform: scale(1.01); }
  .btn__fill {
    background-color: var(--color-primary-400);
    color: var(--color-primary-50);
    transition: var(--transition-mode-2); }
    .btn__fill:hover {
      background-color: var(--color-primary-500);
      color: var(--color-primary-50); }
  .btn__transparent {
    background-color: transparent;
    color: var(--color-primary-800);
    transition: var(--transition-mode-2); }
    .btn__transparent:hover {
      background-color: var(--color-primary-500);
      color: var(--color-primary-50); }
  .btn__container {
    text-align: center; }
  .btn__text-dark {
    color: var(--color-primary-800);
    font-weight: 600; }
    .btn__text-dark:hover {
      font-size: 1.62rem;
      font-weight: 700; }
  .btn__rightWave {
    color: var(--color-primary-500);
    border: 2px solid var(--color-primary-300);
    border-radius: var(--border-radius-x0);
    font-weight: 300;
    padding: 1.2rem 2.6rem;
    transition: var(--transition-mode-3);
    position: relative;
    z-index: 100; }
    .btn__rightWave:hover {
      color: var(--color-primary-50);
      border: none; }
    .btn__rightWave:hover::after {
      background-color: var(--color-primary-300);
      width: 100%; }
  .btn__rightWave::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 0%;
    height: 100%;
    left: 0;
    top: 0;
    transition: var(--transition-mode-1); }

.moreContainer {
  grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 15.5rem) [col-end]) [center-end] 1fr [full-end];
  display: none;
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -26%);
  background-color: var(--color-primary-50);
  border-radius: 10px;
  height: min-content;
  width: 120rem;
  z-index: 999; }
  .moreContainer__contentBox {
    grid-column: center-start/center-end;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    padding: 1.5rem 3rem; }
  .moreContainer__box {
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    gap: 2rem;
    justify-content: flex-start; }
  .moreContainer__icon {
    align-self: center; }
    .moreContainer__icon img {
      width: 8rem;
      aspect-ratio: 1/1; }
  .moreContainer__content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start; }
  .moreContainer__btn {
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 500;
    display: inline-block;
    border-bottom: 1px solid transparent;
    transition: var(--transition-mode-1); }
    .moreContainer__btn:hover {
      border-bottom: 1px solid var(--color-primary-800);
      font-weight: 700; }

.pricing {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--grid-gap-3);
  border-radius: var(--border-radius-x1);
  padding: var(--padding-vertical-3) var(--padding-horizontal-2);
  margin: var(--margin-md) 0; }
  .pricing .card {
    border-radius: 5px;
    box-shadow: var(--box-shadow-type-1);
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    transition: var(--transition-mode-2);
    position: relative; }
    .pricing .card:hover {
      box-shadow: var(--box-shadow-type-2); }
    .pricing .card__header {
      position: relative; }
    .pricing .card__picture {
      position: relative;
      -webkit-clip-path: polygon(0 0, 100% 0%, 100% 83%, 0% 98%);
      clip-path: polygon(0 0, 100% 0%, 100% 83%, 0% 98%);
      height: 22rem; }
    .pricing .card__picture-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: -webkit-gradient(linear, left top, right bottom, from(var(--color-primary-300)), to(var(--color-primary-500)));
      background-image: linear-gradient(to right bottom, var(--color-primary-300), var(--color-primary-500));
      opacity: 0.7; }
    .pricing .card__picture-img {
      object-fit: cover;
      height: 100%;
      width: 100%; }
    .pricing .card__picture-text {
      position: absolute;
      bottom: 2rem;
      right: 2rem;
      color: var(--color-primary-50);
      width: 65%;
      text-transform: uppercase;
      text-align: right;
      line-height: 1.8; }
    .pricing .card__picture-span {
      background-image: linear-gradient(to right bottom, var(--color-primary-300), var(--color-primary-500));
      box-decoration-break: clone;
      -webkit-box-decoration-break: clone;
      padding: var(--padding-vertical-4) var(--padding-horizontal-1); }
    .pricing .card__details {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row-gap: var(--grid-gap-4);
      grid-column-gap: var(--grid-gap-1);
      padding: 2.5rem var(--padding-horizontal-2); }
    .pricing .card__sub-heading {
      font-size: var(--font-xsm-1);
      text-transform: uppercase;
      font-weight: 700;
      grid-column: 1 / -1; }
    .pricing .card__text {
      grid-column: 1 / -1;
      font-size: var(--font-sm-2);
      font-style: italic;
      margin-top: -1rem;
      margin-bottom: 0.75rem; }
    .pricing .card__data {
      font-size: var(--font-xsm-2);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .pricing .card__data svg {
      margin-right: var(--margin-right-sm); }
    .pricing .card__icon {
      height: 2rem;
      width: 2rem;
      fill: var(--color-primary-400); }
    .pricing .card__footer {
      background-color: var(--color-primary-50);
      padding: 2.5rem var(--padding-horizontal-2);
      border-top: 1px solid var(--color-white);
      font-size: var(--font-sm-1);
      display: grid;
      grid-template-columns: auto 1fr;
      grid-column-gap: var(--grid-gap-0);
      grid-row-gap: var(--grid-gap-0);
      margin-top: auto; }
    .pricing .card__footer-value {
      font-weight: 700; }
    .pricing .card__footer-text {
      color: var(--color-primary-900);
      font-weight: 200;
      opacity: 0.7; }
    .pricing .card__ratings {
      grid-row: 2 / 3; }
    .pricing .card__btn {
      grid-row: 1 / 3;
      justify-self: end;
      align-self: center;
      text-decoration: none;
      color: var(--color-primary-500);
      cursor: pointer;
      border: 2px solid var(--color-primary-300);
      border-radius: var(--border-radius-x0);
      font-weight: 300;
      padding: 1.2rem 2.6rem;
      transition: var(--transition-mode-1);
      position: relative;
      z-index: 100; }
      .pricing .card__btn:hover {
        color: var(--color-primary-50);
        border: none; }
      .pricing .card__btn:hover::after {
        background-color: var(--color-primary-300);
        width: 100%; }
    .pricing .card__btn::after {
      content: "";
      position: absolute;
      z-index: -1;
      width: 0%;
      height: 100%;
      left: 0;
      top: 0;
      transition: var(--transition-mode-1); }

.services__container {
  padding: var(--padding-vertical-3) var(--padding-horizontal-3);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--grid-gap-3);
  grid-template-rows: repeat(2, min-content); }

.services__service {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius-x3);
  padding: var(--padding-vertical-2) var(--padding-horizontal-1);
  box-shadow: var(--box-shadow-type-1);
  border: 1px solid var(--color-primary-700);
  cursor: pointer;
  transition: var(--transition-mode-3); }
  .services__service:hover {
    border: 1px solid var(--color-primary-400);
    box-shadow: var(--box-shadow-type-2);
    transform: scale(1.01);
    background-color: var(--color-primary-50); }

.services__picture {
  width: 8rem;
  aspect-ratio: 1/1;
  background-color: var(--color-primary-300);
  border-radius: 50%;
  display: grid;
  place-items: center;
  position: relative;
  z-index: 5;
  align-self: center; }

.services__icon {
  width: 4.5rem;
  height: 4.5rem;
  fill: var(--color-primary-50);
  position: relative;
  z-index: 55; }

.services__text {
  display: flex;
  flex-direction: column;
  margin-top: var(--margin-xsm); }
  .services__text--header {
    align-self: center;
    padding: 1.5rem; }
  .services__text--para {
    align-self: center;
    padding: 1.4rem 2.2rem; }

.why-choose-us {
  display: grid;
  grid-template-columns: 1fr 2fr; }
  .why-choose-us__content {
    padding: 10rem;
    text-align: start;
    display: grid;
    place-items: center; }
  .why-choose-us__para-1 {
    font-size: 1.4rem;
    color: yellow;
    font-weight: 600;
    text-transform: capitalize; }
  .why-choose-us__gallery {
    border-right: 1px dashed var(--color-primary-300);
    border-width: thin;
    padding: 3rem; }
  .why-choose-us__picture {
    width: 100%;
    height: 100%; }

.our-team__teamContainer {
  padding: var(--space-lg-2);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: min-content;
  grid-gap: var(--grid-gap-1);
  position: relative; }

.our-team__card {
  padding-bottom: var(--space-xsm-3);
  background-color: var(--color-primary-500);
  position: relative;
  display: grid;
  place-items: center;
  box-shadow: var(--box-shadow-type-3); }

.our-team__photo {
  position: relative; }
  .our-team__photo img {
    width: 200px;
    height: 280px;
    object-fit: cover;
    filter: grayscale(100%) contrast(120%);
    box-shadow: var(--box-shadow-type-3);
    display: block;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    margin-top: calc(0px - var(--space-xsm-3)); }

.our-team__photo:hover img {
  box-shadow: var(--box-shadow-type-4); }

.our-team__photo .glow-wrap {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  margin-top: calc(0px - var(--space-xsm-3)); }

.our-team__photo .glow {
  display: block;
  position: absolute;
  width: 40%;
  height: 200%;
  background: rgba(255, 255, 255, 0.2);
  top: 0;
  filter: blur(5px);
  transform: rotate(45deg) translate(-450%, 0);
  transition: var(--transition-mode-4); }

.our-team__photo:hover .glow {
  transform: rotate(45deg) translate(450%, 0);
  transition: var(--transition-mode-4); }

.our-team__photo:hover img,
.our-team__photo:hover .glow-wrap {
  margin-top: 0;
  filter: none; }

.our-team__name {
  width: 100%;
  font-size: var(--font-h1);
  position: absolute;
  z-index: 99;
  bottom: 10%;
  right: 50%;
  transform: translate(50%, -10%);
  color: var(--color-primary-50);
  margin: 0;
  line-height: var(--line-height-xsm);
  z-index: 25; }

.our-team__tag {
  display: inline-block;
  padding: var(--space-xsm-1) var(--space-sm-2);
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid var(--color-primary-500);
  border-radius: var(--border-radius-xlg);
  color: var(--color-primary-400);
  font-size: var(--font-xsm-1);
  position: absolute;
  z-index: 15;
  bottom: 0.5rem;
  right: 0.5rem; }

.banner {
  background-color: var(--color-primary-500);
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: var(--space-lg-2); }
  .banner__details {
    color: var(--color-primary-50); }
  .banner__heading, .banner__text {
    width: 70%; }
  .banner__button {
    display: grid;
    place-items: center; }
  .banner__btn {
    background-color: var(--color-primary-50);
    color: var(--color-primary-800);
    font-weight: 400;
    font-size: var(--font-h3);
    border: none;
    box-shadow: var(--box-shadow-type-5);
    transition: var(--transition-mode-2); }
    .banner__btn:hover {
      transform: scale(1.02);
      font-size: 2.05rem;
      box-shadow: var(--box-shadow-type-6); }

.testimonial__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; }

.testimonial__slider {
  padding: var(--space-md-3);
  max-width: 80%; }

.testimonial__slide {
  display: none; }
  .testimonial__slide--active {
    display: block; }
  .testimonial__slide__wrapper {
    width: 100%;
    background-color: var(--color-primary-50);
    box-shadow: var(--box-shadow-type-3);
    padding: var(--space-md-3);
    display: flex;
    gap: var(--grid-gap-1); }

.testimonial__user {
  flex: 0 1 2fr; }

.testimonial__user-photo {
  background-color: var(--color-primary-100);
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  border: 1px dashed rgba(0, 0, 0, 0.3);
  cursor: pointer; }
  .testimonial__user-photo img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover; }

.testimonial__details {
  background-color: var(--color-white);
  border-radius: var(--border-radius-x1);
  padding: var(--space-xsm-3);
  border-left: 1px dashed rgba(0, 0, 0, 0.3);
  flex: 0 1 8fr;
  cursor: pointer; }

.testimonial__details > span {
  display: block; }

.testimonial__username {
  font-size: var(--font-sm-2);
  font-weight: 800;
  text-transform: capitalize; }

.testimonial__country {
  text-transform: lowercase; }
  .testimonial__country-text {
    font-size: var(--font-xsm-1);
    font-weight: 200; }
  .testimonial__country-name {
    font-size: var(--font-xsm-2);
    font-weight: 500; }

.testimonial__group {
  margin-top: -10px;
  color: var(--color-primary-600); }

.testimonial__email {
  font-size: var(--font-xsm-1);
  font-weight: 400;
  margin-top: -6px;
  color: var(--color-primary-600); }

.testimonial__date {
  font-size: var(--font-xsm-1);
  font-weight: 200; }

.testimonial__review {
  min-height: 12rem;
  color: var(--color-primary-800); }

.testimonial__navBtns {
  width: 90%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.testimonial__icon {
  width: 8rem;
  height: 8rem;
  fill: var(--color-primary-400);
  cursor: pointer;
  transition: var(--transition-mode-2); }
  .testimonial__icon:hover {
    transform: scale(1.03);
    fill: var(--color-primary-500); }

.connect-with-us-form {
  margin-top: var(--space-lg-1);
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: var(--grid-gap-1); }
  .connect-with-us-form__company {
    padding: var(--space-lg-3) var(--space-md-3);
    border-radius: var(--border-radius-x1);
    box-shadow: var(--box-shadow-type-2);
    display: flex;
    flex-direction: column;
    gap: var(--grid-gap-2); }
    .connect-with-us-form__company-row {
      border-bottom: 1px solid var(--color-primary-700);
      cursor: pointer; }
    .connect-with-us-form__company-social {
      margin: var(--space-sm-2) 0; }
    .connect-with-us-form__company-items {
      display: flex;
      justify-content: space-around;
      align-items: center;
      list-style: none;
      gap: var(--grid-gap-4); }
    .connect-with-us-form__company-link {
      display: grid;
      place-items: center;
      width: 4rem;
      aspect-ratio: 1/1;
      border-radius: 50%;
      background-color: transparent;
      transition: var(--transition-mode-4); }
      .connect-with-us-form__company-link:hover {
        background-color: var(--color-primary-100); }
    .connect-with-us-form__company-icon {
      display: inline-block;
      width: 2.4rem;
      aspect-ratio: 1/1;
      fill: var(--color-primary-500); }
  .connect-with-us-form__form {
    border-radius: var(--border-radius-x1);
    padding: 5rem;
    box-shadow: var(--box-shadow-type-2); }
  .connect-with-us-form__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
    .connect-with-us-form__row:not(:last-child) {
      margin-bottom: var(--space-sm-2); }
  .connect-with-us-form__group:not(:last-child) {
    margin-bottom: var(--space-sm-1); }
  .connect-with-us-form__group--textarea {
    grid-column: 1/-1; }
  .connect-with-us-form__label {
    display: block;
    font-size: var(--font-sm-1);
    font-weight: 400;
    color: var(--color-primary-800);
    cursor: pointer; }
  .connect-with-us-form__input {
    font-size: var(--font-default);
    font-family: inherit;
    color: inherit;
    padding: var(--space-sm-1) var(--space-sm-2);
    border: none;
    border-radius: var(--border-radius-x1);
    border: 1px solid var(--color-primary-800);
    width: 90%;
    transition: var(--transition-mode-2); }
    .connect-with-us-form__input:focus {
      outline: none;
      box-shadow: var(--box-shadow-type-7);
      border: 1px solid var(--color-primary-900); }
    .connect-with-us-form__input:focus:invalid {
      border-bottom: 0.3rem solid var(--color-error-500); }
    .connect-with-us-form__input:focus:valid {
      border-bottom: 0.3rem solid var(--color-succss-500); }
    .connect-with-us-form__input::-webkit-input-placeholder {
      color: var(--color-primary-900);
      opacity: 0.3;
      font-weight: 300; }
  .connect-with-us-form__textarea {
    width: 95%; }

.formBtnContainer {
  text-align: center; }

.btn__form {
  background-color: var(--color-primary-500);
  color: var(--color-primary-50);
  font-size: var(--font-default);
  font-weight: 500;
  text-transform: capitalize;
  text-decoration: none;
  display: inline-block;
  padding: var(--space-xsm-3) var(--space-md-1);
  border-radius: 6px;
  box-shadow: var(--box-shadow-type-2);
  transition: var(--transition-mode-2);
  transform: scale(1); }

.btn__form:hover {
  box-shadow: var(--box-shadow-type-6);
  transform: scale(1.02); }

.header {
  background-color: var(--color-primary-50);
  grid-column: center-start/center-end;
  grid-row: 1/2;
  border-bottom: 2px solid var(--color-primary-800);
  color: var(--color-primary-700);
  padding: var(--padding-vertical-1) var(--padding-horizontal-1);
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-bottom: var(--margin-bottom-xsm); }
  .header__logoContainer {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: start; }
    .header__logoContainer img {
      cursor: pointer;
      width: 20rem;
      height: auto;
      padding: var(--padding-vertical-2) var(--padding-horizontal-1); }
  .header__navContainer {
    width: 100%; }
    .header__navContainer .nav {
      height: 100%;
      display: flex;
      justify-content: flex-end;
      list-style: none;
      align-items: center; }
      .header__navContainer .nav__item {
        padding: var(--padding-vertical-1) var(--padding-horizontal-1);
        transition: var(--transition-mode-2);
        position: relative; }
        .header__navContainer .nav__item:not(:last-child) {
          margin-right: var(--margin-right-xsm); }
      .header__navContainer .nav__down__icon {
        width: 2.4rem;
        height: 2.4rem;
        fill: var(--color-primary-900);
        transition: var(--transition-mode-2); }
        .header__navContainer .nav__down__icon:hover {
          fill: var(--color-primary-950); }
      .header__navContainer .nav__link {
        text-decoration: none;
        font-size: var(--font-default);
        font-weight: 300;
        text-transform: capitalize;
        color: inherit;
        transition: var(--transition-mode-2);
        display: flex;
        justify-content: center;
        align-items: center; }
      .header__navContainer .nav__link--normal:hover {
        color: var(--color-primary-900);
        font-weight: 500;
        font-size: 1.62rem; }
      .header__navContainer .nav__link--btn {
        font-weight: 400; }
      .header__navContainer .nav__link--profile {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        background-color: var(--color-primary-900); }
        .header__navContainer .nav__link--profile img {
          width: 4.5rem;
          height: 4.5rem;
          border-radius: 50%;
          object-fit: cover; }
        .header__navContainer .nav__link--profile p {
          position: absolute;
          bottom: -18%;
          left: 50%;
          transform: translate(-50%, 18%);
          font-weight: 500; }
      .header__navContainer .nav .theme__icon {
        width: 2.8rem;
        height: 2.8rem;
        fill: var(--color-primary-900);
        transition: var(--transition-mode-2);
        display: flex;
        justify-content: center;
        align-items: center; }
      .header__navContainer .nav .theme__icon:hover {
        fill: var(--color-primary-950);
        transform: scale(1.05); }

.main {
  grid-row: 1/3;
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 1fr [full-end];
  grid-template-rows: 95vh repeat(9, min-content);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -10; }

.section__landing {
  grid-column: full-start/full-end; }

.section__packages {
  grid-column: center-start/center-end;
  margin-top: 12rem; }

.section__services {
  grid-column: center-start/center-end;
  margin-top: 12rem; }

.section__why-choose-us {
  grid-column: full-start/full-end;
  margin-top: 12rem; }

.section__our-team {
  grid-column: center-start/center-end;
  margin-top: 12rem; }

.section__banner {
  grid-column: full-start/full-end;
  margin-top: 12rem; }

.section__testimonial {
  grid-column: center-start/center-end;
  margin-top: 12rem; }

.section__connect-with-us {
  grid-column: center-start/center-end;
  margin-top: 12rem; }

.section__footer {
  grid-column: full-start/full-end;
  margin-top: 12rem; }

.footer {
  background-image: linear-gradient(to bottom right, var(--color-primary-500), var(--color-primary-900));
  display: grid;
  grid-template-columns: 1fr 10fr;
  padding: 4rem 5rem; }
  .footer__left {
    border-right: 2px solid var(--color-primary-50);
    text-align: start;
    padding: 0 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .footer__text {
    color: var(--color-primary-50);
    font-weight: 400;
    font-size: 1.6rem;
    font-style: italic; }
  .footer__picture img {
    width: 20rem;
    height: 1/0.8; }
  .footer__copy {
    margin-top: 4rem; }
    .footer__copy p {
      color: var(--color-primary-100);
      font-weight: 400;
      font-size: 1.2rem;
      text-transform: capitalize; }
  .footer__right {
    padding-inline: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    grid-template-rows: auto; }
  .footer__nav h3, .footer__pages h3, .footer__service h3 {
    color: var(--color-primary-100);
    font-size: 2rem;
    font-weight: 400;
    border-bottom: 3px solid var(--color-primary-100);
    width: 60%; }
  .footer__nav a, .footer__pages a, .footer__service a {
    text-decoration: none;
    display: block; }
  .footer__nav p,
  .footer__nav a, .footer__pages p,
  .footer__pages a, .footer__service p,
  .footer__service a {
    font-size: 1.4rem;
    color: var(--color-primary-200);
    font-weight: 300;
    letter-spacing: 1.1px;
    margin-top: 1.2rem;
    padding: 0.4rem 0;
    width: auto;
    transition: all 0.3s;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    width: 60%; }
    .footer__nav p:hover,
    .footer__nav a:hover, .footer__pages p:hover,
    .footer__pages a:hover, .footer__service p:hover,
    .footer__service a:hover {
      font-size: 1.42rem;
      color: var(--color-primary-100);
      font-weight: 400;
      border-bottom: 1px solid var(--color-primary-200); }

.landing {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(0, 129, 89, 0.6), rgba(40, 223, 153, 0.8)), url(../../images/locations/colombo.jpg);
  background-size: cover;
  background-position: top;
  align-content: center;
  display: grid;
  grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 1fr [full-end]; }
  .landing__content {
    grid-column: center-start / col-start 6;
    color: var(--color-primary-50);
    line-height: var(--line-height-sm); }
  .landing__heading {
    display: block; }
    .landing__heading-modifier {
      background-color: var(--color-yellow-2);
      padding: 0 var(--padding-vertical-2); }
  .landing__text {
    margin-block: var(--margin-xsm); }
  .landing__btn {
    display: inline-block;
    border: 2px solid var(--color-primary-100); }
    .landing__btn:hover {
      border: 2px solid var(--color-primary-50);
      font-weight: 500; }

.our-team,
.packages,
.services,
.testimonial,
.connect-with-us,
.why-choose-us {
  text-align: center; }
  .our-team__heading,
  .packages__heading,
  .services__heading,
  .testimonial__heading,
  .connect-with-us__heading,
  .why-choose-us__heading {
    display: block; }
  .our-team__text,
  .packages__text,
  .services__text,
  .testimonial__text,
  .connect-with-us__text,
  .why-choose-us__text {
    white-space: break-word; }
