:root {
  --color-primary-50: #ebfef5;
  --color-primary-100: #cefde4;
  --color-primary-200: #a1f9ce;
  --color-primary-300: #65f0b7;
  --color-primary-400: #28df99;
  --color-primary-500: #03c682;
  --color-primary-600: #00a16a;
  --color-primary-700: #008159;
  --color-primary-800: #006647;
  --color-primary-900: #01533d;
  --color-primary-950: #002f23;

  --color-black: #040d12;
  --color-white: #f9f9f9;
  --color-grey-dark-1: #656565;
  --color-grey-dark-2: #525252;
  --color-grey-dark-3: #292929;
  --color-yellow-1: #fcdc2a;
  --color-yellow-2: #feea46;

  --color-error-50: #fff6f6;
  --color-error-100: #ffe0e0;
  --color-error-200: #ffc6c6;
  --color-error-300: #ff9e9e;
  --color-error-400: #ff6666;
  --color-error-500: #fd3636;
  --color-error-600: #eb1717;
  --color-error-700: #c60f0f;
  --color-error-800: #a31111;
  --color-error-800: #871515;
  --color-error-800: #4a0505;

  --color-succss-50: #f0fce9;
  --color-succss-100: #dff8cf;
  --color-succss-200: #c0f2a4;
  --color-succss-300: #98e86e;
  --color-succss-400: #82dd55;
  --color-succss-500: #54bf23;

  --font-default: 1.6rem;
  --font-h1: 5rem;
  --font-h2: 3.6rem;
  --font-h3: 2rem;

  --paragraph-default: 1rem;
  --paragraph-p1: 1.8rem;
  --paragraph-p2: 1.4rem;
  --paragraph-p3: 1.2rem;

  --line-height-default: 1.6;
  --line-height-md: 1.7;

  --margin-xsm: 2rem;
  --margin-sm: 3rem;
  --margin-md: 6rem;
  --margin-lg-x1: 8rem;
  --margin-lg-x2: 12rem;
  --margin-lg-x3: 16rem;
  --margin-lg-x4: 20rem;

  --margin-right-xsm: 0.5rem;
  --margin-bottom-xsm: 1rem;

  --padding-horizontal-1: 1.8rem;
  --padding-vertical-1: 0.4rem;

  --letter-spacing-default: 1;
  --letter-spacing-sm: 1.2;

  --transition-mode-1: 0.2s all;
  --transition-mode-2: 0.3s all;
  --transition-mode-3: 0.4s all;
}
