.services {
  &__container {
    padding: var(--space-md-2) var(--space-lg-1);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: var(--grid-gap-3);
    grid-template-rows: repeat(2, min-content);

    @include respond(tab-port) {
      padding: var(--space-md-2) var(--space-xlg-2);
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, min-content);
    }
  }

  &__service {
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius-x3);
    padding: var(--space-sm-2);
    box-shadow: var(--box-shadow-type-1);
    border: 1px solid var(--color-primary-700);
    cursor: pointer;
    transition: var(--transition-mode-3);

    &:hover {
      border: 1px solid var(--color-primary-400);
      box-shadow: var(--box-shadow-type-2);
      transform: scale(1.01);
      background-color: var(--color-primary-50);
    }
  }

  &__picture {
    width: 8rem;
    aspect-ratio: 1/1;
    background-color: var(--color-primary-300);
    border-radius: 50%;
    display: grid;
    place-items: center;
    position: relative;
    z-index: 5;
    align-self: center;

    @include respond(mobile-xl) {
      width: 6rem;
      aspect-ratio: 1/1;
    }
  }

  &__icon {
    width: 4.5rem;
    height: 4.5rem;
    fill: var(--color-primary-50);
    position: relative;
    z-index: 55;
    @include respond(mobile-xl) {
      width: 3.6rem;
      height: 3.6rem;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    margin-top: var(--margin-xsm);
    text-align: center;

    &--header {
      align-self: center;
      padding: var(--space-sm-1);
      @include respond(mobile-xl) {
        padding: var(--space-xsm-2);
      }
    }
    &--para {
      align-self: center;
      padding: var(--space-sm-1);

      @include respond(mobile-xl) {
        margin-top: -1rem;
        padding: var(--space-xsm-2);
      }
    }
  }
}
