.testimonial {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  &__slider {
    padding: var(--space-md-3);
    max-width: 80%;

    @include respond(mobile-xl) {
      max-width: 90%;
    }
  }

  &__slide {
    display: none;
    &--active {
      display: block;
    }
    &__wrapper {
      width: 100%;
      background-color: var(--color-primary-50);
      box-shadow: var(--box-shadow-type-3);
      padding: var(--space-md-3);
      display: flex;
      gap: var(--grid-gap-1);
    }
  }
  &__user {
    flex: 0 1 2fr;
  }

  &__user-photo {
    background-color: var(--color-primary-100);
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    border: 1px dashed rgba(0, 0, 0, 0.3);
    cursor: pointer;

    img {
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  &__details {
    background-color: var(--color-white);
    border-radius: var(--border-radius-x1);
    padding: var(--space-xsm-3);
    border-left: 1px dashed rgba(0, 0, 0, 0.3);
    flex: 0 1 8fr;
    cursor: pointer;
  }
  &__details > span {
    display: block;
  }

  &__username {
    font-size: var(--font-sm-2);
    font-weight: 800;
    text-transform: capitalize;
  }
  &__country {
    text-transform: lowercase;
    &-text {
      font-size: var(--font-xsm-1);
      font-weight: 200;
    }
    &-name {
      font-size: var(--font-xsm-2);
      font-weight: 500;
    }
  }
  &__group {
    margin-top: -10px;
    color: var(--color-primary-600);
  }
  &__email {
    font-size: var(--font-xsm-1);
    font-weight: 400;
    margin-top: -6px;
    color: var(--color-primary-600);
  }
  &__date {
    font-size: var(--font-xsm-1);
    font-weight: 200;
  }

  &__review {
    min-height: 12rem;
    color: var(--color-primary-800);
  }

  &__navBtns {
    width: 90%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__icon {
    width: 8rem;
    height: 8rem;
    fill: var(--color-primary-400);
    cursor: pointer;
    transition: var(--transition-mode-2);

    @include respond(tab-land) {
      width: 6.5rem;
      height: 6.5rem;
    }
    @include respond(mobile-xl) {
      width: 5rem;
      height: 5rem;
    }

    &:hover {
      transform: scale(1.03);
      fill: var(--color-primary-500);
    }
  }
}
