.header {
  background-color: var(--color-primary-50);
  grid-column: center-start/center-end;
  grid-row: 1/2;
  border-bottom: 2px solid var(--color-primary-800);
  color: var(--color-primary-700);
  padding: var(--space-xsm-1) var(--space-sm-2);
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-bottom: var(--space-xsm-3);

  @include respond(tab-land) {
    grid-column: full-start/full-end;
  }

  &__logoContainer {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: start;

    img {
      cursor: pointer;
      width: 20rem;
      height: auto;
      padding: var(--space-sm-2) var(--space-sm-1);
    }
  }

  &__navContainer {
    width: 100%;

    .nav {
      height: 100%;
      display: flex;
      justify-content: flex-end;
      list-style: none;
      align-items: center;

      &__item {
        padding: var(--space-xsm-1) var(--space-sm-2);
        transition: var(--transition-mode-2);
        position: relative;

        &:not(:last-child) {
          margin-right: var(--space-xsm-1);
        }
      }

      &__down__icon {
        width: 2.4rem;
        height: 2.4rem;
        fill: var(--color-primary-900);
        transition: var(--transition-mode-2);

        &:hover {
          fill: var(--color-primary-950);
        }
      }

      &__link {
        text-decoration: none;
        font-size: var(--font-default);
        font-weight: 300;
        text-transform: capitalize;
        color: inherit;
        transition: var(--transition-mode-2);

        display: flex;
        justify-content: center;
        align-items: center;
      }

      &__link--normal:hover {
        color: var(--color-primary-900);
        font-weight: 500;
        font-size: 1.62rem;
      }
      &__link--btn {
        font-weight: 400;
      }

      &__link--profile {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        background-color: var(--color-primary-900);

        img {
          width: 4.5rem;
          height: 4.5rem;
          border-radius: 50%;
          object-fit: cover;
        }

        p {
          position: absolute;
          bottom: -18%;
          left: 50%;
          transform: translate(-50%, 18%);
          font-weight: 500;
        }
      }

      .theme__icon {
        width: 2.8rem;
        height: 2.8rem;
        fill: var(--color-primary-900);
        transition: var(--transition-mode-2);

        display: flex;
        justify-content: center;
        align-items: center;
      }
      .theme__icon:hover {
        fill: var(--color-primary-950);
        transform: scale(1.05);
      }
    }
  }
}
